body {
    background-color: rgb(1, 195, 233);
    font-family: Verdana, Arial, sans-serif;
}

h1, ul {
    text-align: center;
}

h1 {
    color: rgb(254, 228, 64);
}

a:link, a:hover, a:visited {
    color: rgb(150, 52, 132);
}

a:active {
    color: rgb(200, 50, 50);
}